@import "tailwindcss";

:root {
  --font-inter: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-montserrat: "Montserrat", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  --font-poppins: "Poppins", "Poppins Placeholder", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.font-inter { font-family: var(--font-inter); }
.font-mont { font-family: var(--font-montserrat); }
.font-poppins { font-family: var(--font-poppins); }